body {
  background-color: #111;
  color: #fff;
}
a {
  color: #fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

img:not(.App-logo) {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*
** COMPONENTS
*/
@import "../../components/movies/movies";
@import "../../components/movie/movie";
@import "../../components/details/details";
