.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.image-logo {
  padding: 1em;
  width: 75px;
}

.column {
  position: relative;
  overflow: hidden;
}

.overlay {
  opacity: 0;
  margin-top: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
}

.image-logo:hover ~ .overlay,
.overlay:hover {
  opacity: 1;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .three-columns {
    display: flex;
  }
  .column {
    flex: 1;
  }
}

.details {
  text-align: left;
  padding: 0 1em;
}