.App {
  text-align: center;
}

.App-logo,
.image-logo {
  height: 40vmin;
}

.image-logo {
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .three-columns {
    display: flex;
  }
  .column {
    flex: 1;
  }
}
