.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.image-logo {
  padding: 1em;
  max-width: 75px;
    width: calc(100% - 2em);
}

.column {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 320px) {
  .column {
    min-width: 50%;
  }
}

.overlay {
  opacity: 0;
  margin-top: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 90%;
}

.image-logo:hover ~ .overlay,
.overlay:hover {
  opacity: 1;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .three-columns {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    flex: 1;
    min-width: calc(100% / 3);
  }
}

.details {
  text-align: left;
  padding: 0 1em;
}